.tree-container {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60%;
  display: flex;
  margin: 1em;
  width: 25%;
  //overflow: hidden;
  //border: 1px dotted red;
  .active {
    width: 3em !important;
  }
  .level {
    width: 15em;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    transition: background-color 2s ease-in;
    overflow: hidden;
    border: 1px solid red;
    &:hover {
      background: #ddd;
    }
    &:focus {
      background: #ddd;
    }
    .node {
      display: inline-block;
      padding: 0.5em;
      width: 100%;
      position: relative;
      cursor: pointer;

      label {
        span:first-child {
          height: 1.5em;
          width: 1.5em;
          border-radius: 50%;
          padding: 0.2em;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #16aeab;
          border: 1px solid #16aeab;
        }
        .selected {
          background: #16aeab;
          color: #fff;
          font-weight: bold;
        }
        span:nth-child(2) {
          margin: 0 0.3em;
          font-size: 1.5em;
          font-weight: 500;
        }
        i {
          position: absolute;
          right: 20px;
          color: #16aeab;
          padding: 0.3em;
        }
        display: flex;
        color: #16aeab;
      }
      input[type='checkbox'] {
        &:checked {
          + {
            label {
              span:nth-child(2) {
                background: red;
                display: none;
              }
              i {
                display: none;
              }
            }
          }
        }
        display: absolute;
        position: absolute;
        opacity: 0;
      }
    }
  }
}
