.tree-container {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60%;
  display: flex;
  margin: 1em;
  padding: 0;
  overflow: hidden;

  //border: 1px dotted #ccc;
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.1);
  .active {
    width: 3em !important;
  }
  .level {
    width: 15em;
    min-height: 300px;
    border: 1px solid #ddd;
    border-right: 2px solid #ddd;
    border-left: 2px solid #ddd;
    //transition: background-color 2s ease-in;
    transition: box-shadow 0.3s;
    overflow: hidden;
    //margin-right: 0.1em;
    &:hover {
      //background: #ddd;
      box-shadow: 0 0 5px rgba(33, 33, 33, 0.1);
    }
    & *:hover {
      cursor: pointer;
      //background: #ddd;
    }
    &:focus {
      background: #ddd;
    }
    .m1 {
      margin-right: 0.1em;
    }
    .node {
      display: inline-block;
      padding: 0.5em;
      width: 100%;
      position: relative;

      label {
        span:first-child {
          height: 1.5em;
          width: 1.5em;
          border-radius: 50%;
          padding: 0.2em;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #16aeab;
          border: 2px solid #16aeab;
          font-weight: 500;
        }
        .selected {
          background: #16aeab;
          color: #fff;
          font-weight: bold;
        }
        span:nth-child(2) {
          margin: 0 0.3em;
          font-size: 1.5em;
          font-weight: 500;
        }
        i {
          position: absolute;
          right: 20px;
          color: #16aeab;
          padding: 0.5em;
        }
        display: flex;
        color: #16aeab;
      }
      input[type='checkbox'] {
        &:checked {
          + {
            label {
              span:nth-child(2) {
                background: red;
                display: none;
              }
              i {
                display: none;
              }
            }
          }
        }
        display: absolute;
        position: absolute;
        opacity: 0;
      }
    }
  }
}
