<!-- <div class="tree-container">
  <div class="level active">
    <div class="node">
      <input id="Ultimatix" type="checkbox" value="Ultimatix" />
      <label for="Ultimatix">
        <span>OU</span>
        <span>Ultimaitx</span>
        <i class="fas fa-greater-than"></i>
      </label>
    </div>
    <div class="node">
      <input id="Ultimatix" type="checkbox" value="Ultimatix" />
      <label for="Ultimatix">
        <span>OU</span>
        <span>Ultimaitx</span>
        <i class="fas fa-greater-than"></i>
      </label>
    </div>
    <div class="node">
      <input id="Ultimatix" type="checkbox" value="Ultimatix" />
      <label for="Ultimatix">
        <span>OU</span>
        <span>Ultimaitx</span>
        <i class="fas fa-greater-than"></i>
      </label>
    </div>
    <div class="node">
      <input id="Ultimatix" type="checkbox" value="Ultimatix" />
      <label for="Ultimatix">
        <span>OU</span>
        <span>Ultimaitx</span>
        <i class="fas fa-greater-than"></i>
      </label>
    </div>
    <div class="node">
      <input id="Ultimatix" type="checkbox" value="Ultimatix" />
      <label for="Ultimatix">
        <span>OU</span>
        <span>Ultimaitx</span>
        <i class="fas fa-greater-than"></i>
      </label>
    </div>
  </div>

  <div class="level active">
    <div class="node">
      <input id="Ultimatix" type="checkbox" value="Ultimatix" />
      <label for="Ultimatix">
        <span>OU</span>
        <span>Ultimaitx</span>
        <i class="fas fa-greater-than"></i>
      </label>
    </div>
    <div class="node">
      <input id="Ultimatix" type="checkbox" value="Ultimatix" />
      <label for="Ultimatix">
        <span>OU</span>
        <span>Ultimaitx</span>
        <i class="fas fa-greater-than"></i>
      </label>
    </div>
    <div class="node">
      <input id="Ultimatix" type="checkbox" value="Ultimatix" />
      <label for="Ultimatix">
        <span>OU</span>
        <span>Ultimaitx</span>
        <i class="fas fa-greater-than"></i>
      </label>
    </div>
    <div class="node">
      <input id="Ultimatix" type="checkbox" value="Ultimatix" />
      <label for="Ultimatix">
        <span>OU</span>
        <span>Ultimaitx</span>
      </label>
    </div>
  </div>

  <div class="level">
    <div class="node">
      <input id="Ultimatix" type="checkbox" value="Ultimatix" />
      <label for="Ultimatix">
        <span>OU</span>
        <span>Ultimaitx</span>
        <i class="fas fa-greater-than"></i>
      </label>
    </div>
    <div class="node">
      <input id="Ultimatix" type="checkbox" value="Ultimatix" />
      <label for="Ultimatix">
        <span>OU</span>
        <span>Ultimaitx</span>
        <i class="fas fa-greater-than"></i>
      </label>
    </div>
    <div class="node">
      <input id="Ultimatix" type="checkbox" value="Ultimatix" />
      <label for="Ultimatix">
        <span>OU</span>
        <span>Ultimaitx</span>
      </label>
    </div>
  </div>
</div> -->

<div class="tree-container">
  <ng-container *ngFor="let bars of barStack">
    <div *ngFor="let bar of bars">
      <div class="level active">
        <div class="node" (click)="addBar(bar.childs)">
          <input id="bar.id" type="checkbox" value="Ultimatix" />
          <label for="bar.id">
            <span>{{ bar.type }}</span>
            <span>{{ bar.name }}</span>
            <i *ngIf="bar.isParent" class="fa fa-greater-than"></i>
          </label>
        </div>
      </div>
    </div>
  </ng-container>
</div>
